.App {
  font-family: Poppins;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
  text-align: left;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-evenly;
  width: 960px;
}

.item {
  display: flex;
}

.image {
}

.caption {
  height: 198px;
  width: 298px;
  border: 1px solid black;
}

