.App {
  font-family: Poppins;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
  text-align: left;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-evenly;
  width: 960px;
}

.item {
  display: flex;
  margin-bottom: 5px;
}

.captionBox {
  height: 198px;
  width: 298px;
  border: 1px solid rgb(194, 194, 194);
  display:flex;
  justify-content: center;
  align-items: flex-end;
}

.artist {
  font-size:.7em;
}

.title {
  font-size: .8em;
  font-style: italic;
}

.date {
  font-size: .6em;
}

.artist, .title, .date {
  text-align: center;
  margin: 0;
}

.caption {
  margin-bottom: 1em;
}

.item-and-likes {
  margin-bottom: 1.4em;
}

.likes-container {
  display: flex;
}